@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(255 186 55);
    --dark-light-color: #a6a6a6;
    --dark-gray-color: #6d6d6d;
    --box-shadow: rgb(0 0 0 / 11%) 32px 0px 35px 0;
}

.hero-big {
    box-shadow: var(--box-shadow);
}

.hero-small {
    box-shadow: var(--box-shadow);
}

.object-hero-top {
    top: 3%;
    left: 3%;
}

.hero-title {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    bottom: 20px;
    background-color: var(--primary-color);
}

.menu-title {
    top: 50px;
    right: 100px;
    z-index: 999;
}

.menu-title.active {
    color: var(--dark-light-color);
    z-index: 9999;
    position: fixed;
}

.menu-title>span {
    text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

.menu-title.active>span {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}


/* SidebarMenu */
#sidebar {
    color: var(--dark-light-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    max-width: 470px;
    width: 80%;
    height: 100%;
    padding: 2.5rem;
    background-color: rgb(0 0 0 / 67%);
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

#sidebar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.outer-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.sidebar-content a {
    pointer-events: all;
}

.sidebar-toggler {
    top: 60px;
    right: 41px;
    width: 43px;
    height: 26px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    gap: 5px;
    z-index: 9999;
}

.sidebar-toggler span {
    background-color: #000;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.sidebar-toggler.opened span {
    background-color: var(--dark-light-color);
}

.sidebar-toggler.opened {
    position: fixed;
}

.sidebar-footer {
    bottom: 9%;
    right: 9%;
}

.icon-title {
    color: var(--dark-light-color);
}

/* SidebarMenu */

.object-circle-bottom {
    width: 31rem;
    height: 31rem;
    bottom: 0;
    left: -22rem;
    box-shadow: rgb(50 50 93 / 7%) 0 0 10px 27px inset, rgb(0 0 0 / 25%) 0 0 36px -7px inset;
}

.badge {
    background-color: var(--primary-color);
}

.object-intro-1 {
    background-image: url('images/adhesive.jpg');
    box-shadow: var(--box-shadow);
}

.hero-intro {
    padding-top: 29rem;
    margin-top: -32rem;
}

.placeholder-object-1 {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    color: #757575;
    font-weight: 300;
}

.placeholder-object-1-label {
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.object-about-1 {
    background-image: url('images/our-client-1.jpg');
    width: 17rem;
    height: 17rem;
    right: -9rem;
    top: -2rem;
    z-index: -1;
}

.card-info {
    border: 5px solid var(--primary-color);
    color: var(--dark-gray-color);
}

@media (max-width: 320px) {
    .menu-title {
        font-size: 19px;
    }
}

@media (max-width: 767px) {
    .hero {
        margin-top: 0;
    }

    .hero-big {
        width: 32rem;
        height: 32rem;
    }

    .hero-small {
        width: 21rem;
        height: 21rem;
    }

    .big-logo {
        width: 13rem;
    }

    .hero-title {
        bottom: 0;
    }

    #sidebar {
        max-width: 320px;
        padding: 1.5rem;
        background-color: rgb(0 0 0 / 70%);
    }

    .menu-title {
        top: 48px;
        right: 70px;
    }

    .sidebar-toggler {
        top: 54px;
        right: 20px;
    }

    .object-circle-bottom {
        width: 150px;
        height: 150px;
        bottom: 35px;
        left: -90px;
        box-shadow: rgb(50 50 93 / 7%) 0 0 8px 8px inset, rgb(0 0 0 / 25%) 0 0 36px -7px inset;
    }

    .object-intro-1 {
        width: 17rem;
        height: 17rem;
        right: -9rem;
        top: -2rem;
        z-index: -1;
    }

    .hero-intro {
        margin-top: -29rem;
    }
}

@media (min-width: 768px) {
    .object-intro-1 {
        width: 41rem;
        height: 41rem;
        right: -15rem;
        top: -15rem;
        z-index: -1;
    }

    .hero-small {
        width: 35rem;
        height: 35rem;
    }

    .hero-big {
        width: 55rem;
        height: 55rem;
    }

    .big-logo {
        width: 20rem;
    }

    .hero {
        margin-top: -5rem;
    }
}

@media (min-width: 1024px) {
    .object-intro-1 {
        top: -19rem;
        width: 50rem;
        height: 50rem;
    }

    .hero-big {
        width: 70rem;
        height: 70rem;
    }

    .hero-small {
        width: 40rem;
        height: 40rem;
    }

    .big-logo {
        width: 26rem;
    }
}

@media (min-width: 1280px) {
    .hero {
        margin-top: -11rem;
    }

    .object-intro-1 {
        top: -27rem;
        width: 55rem;
        height: 55rem;
    }
}

@media (min-width: 1536px) {
    .hero-intro {
        padding-top: 33rem;
        margin-top: -32rem;
    }

    .object-intro-1 {
        top: -30rem;
        width: 66rem;
        height: 66rem;
        right: -9rem;
    }

    .object-circle-bottom {
        width: 37rem;
        height: 37rem;
    }

    .hero-big {
        width: 100rem;
        height: 100rem;
    }

    .hero-small {
        width: 50rem;
        height: 50rem;
    }

    .big-logo {
        width: 26rem;
    }

    .hero {
        margin-top: -19rem;
    }
}